# Travel Recommendation system

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Top Indian Places to Visit (1).csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        325 non-null    int64
 1   Zone                              325 non-null    object
 2   State                             325 non-null    object
 3   City                              325 non-null    object
 4   Name                              325 non-null    object
 5   Type                              325 non-null    object
 6   Establishment Year                325 non-null    object
 7   time needed to visit in hrs       325 non-null    float64
 8   Google review rating              325 non-null    float64
 9   Entrance Fee in INR               325 non-null    int64
 10  Airport with 50km Radius          325 non-null    object
 11  Weekly Off                        32 non-null     object
 12  Significance                      325 non-null    object
 13  DSLR Allowed                      325 non-null    object
 14  Number of google review in lakhs  325 non-null    float64
 15  Best Time to visit                325 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 40.8+ KB

In [4]:
data.head()

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning

In [5]:
data.isnull().sum()

Unnamed: 0                            0
Zone                                  0
State                                 0
City                                  0
Name                                  0
Type                                  0
Establishment Year                    0
time needed to visit in hrs           0
Google review rating                  0
Entrance Fee in INR                   0
Airport with 50km Radius              0
Weekly Off                          293
Significance                          0
DSLR Allowed                          0
Number of google review in lakhs      0
Best Time to visit                    0
dtype: int64

In [6]:
data.shape

(325, 16)

In [7]:
data.duplicated().sum()

0

In [13]:
df = data[['Zone','State','City','Name','Type','Significance']]
df.head()

       Zone  State   City                  Name          Type   Significance
0  Northern  Delhi  Delhi            India Gate  War Memorial     Historical
1  Northern  Delhi  Delhi        Humayun's Tomb          Tomb     Historical
2  Northern  Delhi  Delhi     Akshardham Temple        Temple      Religious
3  Northern  Delhi  Delhi  Waste to Wonder Park    Theme Park  Environmental
4  Northern  Delhi  Delhi         Jantar Mantar   Observatory     Scientific

In [14]:
df.isnull().sum()

Zone            0
State           0
City            0
Name            0
Type            0
Significance    0
dtype: int64

In [16]:
df['tags'] = df['Zone'] + " "+ df['State'] + " " + df['City'] + " " + df['Type'] + " " + df['Significance']

/var/folders/b4/d7d_4c_13mb24yqk0885smv80000gn/T/ipykernel_9634/656998579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['Zone'] + " "+ df['State'] + " " + df['City'] + " " + df['Type'] + " " + df['Significance']

In [17]:
df.head()

,Zone,State,City,Name,Type,Significance,tags
0,Northern,Delhi,Delhi,India Gate,War Memorial,Historical,Northern Delhi Delhi War Memorial Historical
1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,Historical,Northern Delhi Delhi Tomb Historical
2,Northern,Delhi,Delhi,Akshardham Temple,Temple,Religious,Northern Delhi Delhi Temple Religious
3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,Environmental,Northern Delhi Delhi Theme Park Environmental
4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,Scientific,Northern Delhi Delhi Observatory Scientific

In [18]:
travel_df = df[['Name','tags']]

In [19]:
travel_df.head()

                   Name                                           tags
0            India Gate   Northern Delhi Delhi War Memorial Historical
1        Humayun's Tomb           Northern Delhi Delhi Tomb Historical
2     Akshardham Temple          Northern Delhi Delhi Temple Religious
3  Waste to Wonder Park  Northern Delhi Delhi Theme Park Environmental
4         Jantar Mantar    Northern Delhi Delhi Observatory Scientific

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=3000,stop_words='english')
vectors = cv.fit_transform(travel_df['tags']).toarray()
vectors[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0])

In [21]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [24]:
def recommendation(place):
    place_index = travel_df[travel_df['Name'] == place].index[0]
    distance = similarity[place_index]
    place_list = sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
    for i in place_list:
        print(df.iloc[i[0]]['Name'])

In [28]:
recommendation('Marine Drive')

Gateway of India
Chhatrapati Shivaji Maharaj Vastu Sangrahalaya
Siddhivinayak Temple
Mahalaxmi Temple
Chowpatty Beach